@import url("https://fonts.googleapis.com/css2?family=Rock+Salt&family=Viaoda+Libre&display=swap");

:root {
  --primary-color: #0b0750;
  --secondary-color: #3d5877;
  --accent1-color: #92bcaf;
  --accent2-color: #419562;
 
  --heading-font: "Rock Salt", cursive;
  --paragraph-font: "Viaoda Libre", serif;

  --nav-background-color: #004e98;
  --nav-link-color: #ebebeb;
  --nav-hover-link-color: #c0c0c0;
  --nav-hover-background-color: #3a6ea5;
}

body {
  font-family: var(--paragraph-font);
  max-width: 960px;
  padding: 20px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading-font);
  color: var(--primary-color);
}

header {
  padding: 20px;
  background-color: var(--accent1-color);
}

p {
  padding: 25px;
}

nav {
  background-color: var(--nav-background-color);
  font-size: 1.2rem;
  display: flex;
}

nav a {
  display: block;
  color: var(--nav-link-color);
  text-decoration: none;
  padding: 1rem;
}

nav a:link,
nav a:visited {
  color: var(--nav-link-color);
}

nav a:hover {
  color: var(--nav-hover-link-color);
  background-color: var(--nav-hover-background-color);
}
